body{
    background-color: white;
}
h1, h2 {
    text-align: center;
}

#contenido {
    margin-top: 40px;
}
.borrar-post{
    float: right;
    cursor: pointer;
    color: gray;
}
.borrar-post:hover {
    color: black;
    font-weight: bold;
}
.far, .fa-trash-alt {
    line-height: 1.7 !important;
}
.error {
    background-color: rgb(28, 140, 252);
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    /* max-width: 400px; */
    margin: 0 auto;
    color: white;
}

/* DVs07 */
.russo-one-regular {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
}  
.rationale-regular {
    font-family: "Rationale", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.libre-barcode-128-text-regular {
    font-family: "Libre Barcode 128 Text", system-ui;
    font-weight: 400;
    font-style: normal;
}

.anek-tamil-regular {
font-family: "Anek Tamil", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
font-variation-settings:"wdth" 100;
}
.uppercase {
    text-transform: uppercase;
}
.font-weight-bold {
    font-weight: bold;
}
.text-center {
    text-align: center;
}
.navbar{
    background-color: rgb(17, 88, 201);
    color: white;
    height: 45px;
    padding-left: 35px;
    padding-top: 10px;
    margin-bottom: 20px;
}
.fz-2rem{
    font-size: 2rem;
}
input[type="submit"] {
    background-color: #31d96c;
    color: white;
}
input[type="submit"]:hover {
    background-color: #31d96c;
    border-color: transparent;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.justify-end{
    justify-content: flex-end;
}
.text-default{
    text-transform: none !important;
}
textarea{
    height: 105px;
}
footer{
    background-color: rgb(17, 88, 201);
    color: white;
    position: fixed;
    bottom: 0;
}
.pd-5{
    padding: 5px;
}
.pd-10{
    padding: 10px;
}
.mg-btm-0{
    margin-bottom: 0;
}