body{
    background-color: rgb(241, 242, 243);
}
h1, h2 {
    text-align: center;
}

#contenido {
    margin-top: 40px;
}
.borrar-tweet,
.borrar-tweet:hover {
    float: right;
    cursor: pointer;
    color: red;
    font-weight: bold;
}

.error {
    background-color: red;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    max-width: 400px;
    margin: 0 auto;
    color: white;
}

/* DVs07 */

.rationale-regular {
    font-family: "Rationale", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.libre-barcode-128-text-regular {
    font-family: "Libre Barcode 128 Text", system-ui;
    font-weight: 400;
    font-style: normal;
}

.anek-tamil-regular {
font-family: "Anek Tamil", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
font-variation-settings:"wdth" 100;
}
.uppercase {
    text-transform: uppercase;
}
.navbar{
    background-color: rgb(31 41 55);
    color: white;
    height: 45px;
    padding-left: 5px;
    margin-bottom: 20px;
    text-align: center;
}
.fz-2rem{
    font-size: 2rem;
}
input[type="submit"] {
    background-color: #e1993a !important;
    color: white !important;
    border-color: #e1993a!important;
    
}

input[type="submit"]:hover {
    background-color: #d9971d !important;
    color: rgb(31 41 55) !important;
    border-color: rgb(31 41 55) !important;
}